/* Googlefont Poppins CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details {
    padding-left: 60px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.home-content .box .indicator {
    display: flex;
    align-items: center;
}

.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}

.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
}

.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}

.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}

.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}

main {
    padding-top: 6.5rem;
}

.main-index {
    padding-top: 1.5rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-actions a {
    outline: none;
    color: #fff;
    background: #0A2558;
    border: none;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
}

.header-actions a span {
    font-size: 1.6rem;
    margin-right: .6rem;
    color: #fff;
}


/* Form Page */

.form-body {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container form {
    padding: 30px 0 0 0 0;
}

.container form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    color: #3498db;
    font-size: 14px;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: #fff;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline::before,
.input-data .underline::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:current {
    border: transparent;
}

.input-data .underline-before {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~.underline::before,
.underline::after,
.textarea textarea:focus~.underline::before,
.underline::after,
.input-data input:valid~.underline::before,
.underline::after,
.textarea textarea:valid~.underline::before,
.underline::after {
    transform: scaleX(1);
}

.submit-btn .input-data {
    height: 45px !important;
    width: 25% !important;
    overflow: hidden;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #0A2558;
    transition: all 0.3s;
}

.submit-btn .input-data input {
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container .text {
        font-size: 30px;
    }
    .container form {
        padding: 10px 0 0 0 0;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0!important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
}


/* Form Styles Ends */


/* Table Page */

.jobs {
    padding: 1.5rem;
}

.jobs table {
    border-collapse: collapse;
    margin-top: 1rem;
    overflow-x: auto;
}

.jobs table td div {
    background: #fff;
    margin-bottom: .8rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;
}

.jobs img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

table a {
    padding: .5rem;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

table .update {
    background: #8da2fb;
    color: midnightblue;
    border: 1px solid #8da2fb;
}

table .remove {
    background: #fb8d8d;
    color: rgb(112, 25, 25);
    border: 1px solid #fb8d8d;
}

.table-responsive {
    overflow: auto;
}

.jobs table td .head {
    background: #0A2558;
    margin-bottom: .8rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .85rem;
    color: #fff;
    font-weight: 500;
}


/* Table Styles Ends */


/* Profile */

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info {
    text-align: center;
    background: #fff;
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-info img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid #0A2558;
    border-top: 10px solid #0A2558;
    border-bottom: 10px solid #0A2558;
}

.profile-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile-btn a {
    color: #fff;
    text-decoration: none;
    background: #0A2558;
    padding: .6rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}


/* Responsive Media Query */

@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }
    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
    .sidebar .logo-details {
        padding-left: 60px;
    }
}


/* Messages */

.successfuly-done {
    font-size: 1rem;
    font-weight: bold;
    color: darkgreen;
}

.Failed-to-do {
    font-size: 1rem;
    font-weight: bold;
    color: crimson;
}

.image-update {
    display: grid;
    grid-template-columns: 10% auto;
}